.wrapper {
	position: absolute;
	bottom: calc(var(--footer-height) + 10px);
	left: calc(50% - var(--app-max-width) / 2);
	z-index: 2000;
	display: flex;
	align-items: center;
	gap: 10px;
	max-width: 500px;
	margin-right: 6px;
	padding: 6px;
	padding-left: 8px;
	font-size: var(--font-size-sm);
	background-color: var(--color-bg-footer);
	animation: slideIn 0.3s ease-out;

	&.success {
		background-color: var(--color-item-done);
	}
	&.error {
		background-color: var(--color-item-in-progress);
	}
	&.info {
		background-color: var(--color-item-todo);
	}
}

.message {
	line-height: 1.6;
}

@keyframes slideIn {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
