.main {
	min-height: 100vh;
	padding: var(--header-height) 0.5em var(--footer-height);
}

.welcomeWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	margin-top: 15%;

	h1 {
		font-size: 1.2rem;
		font-weight: 600;
	}
}
