.task-item {
  color: #778899;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;
  margin-top: 8px;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.2s; }

.task-item.selected {
  box-shadow: -6px 0 0  #778899;
  transform: translateX(6px); }

.task-item__content {
  overflow-wrap: anywhere;
  overflow: hidden;
  align-self: start; }

.task-item__content span {
  font-size: 12px;
  color: #bdb76b;
  display: inline-block;
  margin-right: 5px; }

.task-item__btn {
  flex: 0 0 40px;
  height: 30px; }

.task-item button {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  cursor: pointer;
  border: none;
  background-color: #fff;
  background-image: url(95cbecb8b3c093f49ed2a8dfaa1d86a8.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain; }

.task-item button:hover {
  width: 100%;
  height: 100%;
  opacity: 1;
  cursor: pointer;
  border: none; }

.task-list {
  padding-top: 5px; }

.task-list h1 {
  font-weight: 500;
  text-align: center;
  color: #778899;
  flex: 0 0 40%;
  margin-bottom: 15px; }

input {
  font-size: 15px;
  font-weight: 700;
  color: #778899;
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  background-color: #fff;
  -webkit-appearance: none;
          appearance: none; }

button {
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  outline: none; }

textarea {
  font-size: 15px;
  font-weight: 700;
  color: #778899;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  -webkit-appearance: none;
          appearance: none; }

.task-form {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.4s; }

.task-form.collapse {
  transform: translateY(100%); }

.task-form__container {
  max-width: 1130px;
  height: 100%;
  margin: 0 auto;
  background-color: #efefef; }

.task-form__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 28px 10px 10px 10px;
  border-top: 1px solid #ced4da; }

.task-form__body {
  align-self: stretch; }

.task-form__body label {
  color: #65696d;
  display: block;
  margin-bottom: 3px;
  margin-left: 3px; }

.task-form__input {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.4); }

.task-form__input:focus {
  background-color: white; }

.task-form__textarea {
  height: 160px;
  margin-bottom: 10px;
  resize: none;
  background-color: rgba(255, 255, 255, 0.4); }

.task-form__textarea:focus {
  background-color: white; }

.task-form__btn_collapse {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -40px;
  right: 45px;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 1px #ced4da;
  background-color: #efefef;
  transition: all 0.2s; }

.task-form__btn_collapse span {
  display: inline-block;
  width: 20px;
  height: 6px;
  border-radius: 2px;
  background-color: #778899; }

.task-form__btn_collapse:hover {
  background-color: #fff; }

.task-form__btn_collapse:active {
  box-shadow: inset 0 0 0 1px #ced4da; }

.task-form__btn_close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -40px;
  right: 10px;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 1px #ced4da;
  background-color: #efefef;
  transition: all 0.2s; }

.task-form__btn_close span:first-child {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 6px;
  border-radius: 2px;
  background-color: #778899;
  transform: rotate(-45deg); }

.task-form__btn_close span:last-child {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 6px;
  border-radius: 2px;
  background-color: #778899;
  transform: rotate(45deg); }

.task-form__btn_close:hover {
  background-color: #fff; }

.task-form__btn_close:active {
  box-shadow: inset 0 0 0 1px #ced4da; }

.task-form__btn_send {
  color: #778899;
  align-self: flex-end;
  width: 100px;
  height: 40px;
  padding: 5px;
  background-color: #efefef;
  box-shadow: 0 0 0 1px #ced4da;
  transition: all 0.2s; }

.task-form__btn_send:hover {
  background-color: #fff; }

.task-form__btn_send:active {
  box-shadow: inset 0 0 0 1px #ced4da; }

.select {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #778899;
  display: inline-block;
  width: 90px;
  height: 28px;
  padding: 3px 3px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
  background-image: url(6bf4309fd2a9a326f173a61a16110654.svg);
  background-repeat: no-repeat;
  background-position: bottom 100% right 6px;
  background-size: 12px auto;
  -webkit-appearance: none;
          appearance: none; }

.task-filter {
  display: flex;
  align-items: center; }

.task-filter span {
  font-weight: 500;
  color: #778899;
  margin-right: 5px; }

.task-description {
  position: fixed;
  top: 70px;
  right: calc(50% - 550px);
  width: 500px;
  padding: 5px 0 0 20px; }

.task-description__body {
  font-weight: 500;
  overflow-wrap: anywhere;
  overflow-y: auto;
  height: 400px;
  margin-bottom: 15px;
  padding: 5px 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #ffffff; }

.task-description h1 {
  font-weight: 500;
  color: #778899;
  text-align: center;
  margin-bottom: 14px; }

.task-description__field {
  margin-bottom: 5px; }

.task-description__prop {
  color: #bdb76b;
  margin-right: 8px; }

.task-search__input {
  width: 300px;
  padding: 5px 10px; }

.task-search__input:focus::-webkit-input-placeholder {
  color: transparent; }

.task-search__input:focus:-moz-placeholder {
  color: transparent; }

.task-search__input:focus::-moz-placeholder {
  color: transparent; }

.task-search__input:focus:-ms-input-placeholder {
  color: transparent; }

.show {
  display: none; }

.show.active {
  display: block; }

.wrapper {
  position: relative;
  max-width: 1130px;
  margin: 0 auto; }

.header {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  height: 60px; }

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1130px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #6891b4; }

.header__title {
  font-size: 25px;
  font-weight: 700;
  color: #fff; }

.header__button {
  color: #51728b;
  margin: 0 15px;
  padding: 10px;
  background: linear-gradient(0deg, #BDB76B, #bdaa56);
  box-shadow: inset 0 0 0 1px #51728b; }

.header__button:hover {
  background: linear-gradient(10deg, #BDB76B, #ccb552); }

.header__button:active {
  box-shadow: inset 0 0 0 1px #51728b,inset 0 0 4px #3e3d32; }

.body {
  display: flex;
  max-width: 1130px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 70px 15px 15px 15px;
  background-color: #dee7ef; }

.body__task-list {
  position: relative;
  flex: 0 0 55%; }

.body__sort {
  position: absolute; }

* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

*:focus,
*:active {
  outline: none; }

html,
body {
  width: 100%;
  height: 100%; }

input,
textarea,
button {
  font-family: inherit; }

button {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.15;
  color: #000;
  background-color: #615760; }


/*# sourceMappingURL=main.css.map*/