.title {
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-normal);
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	width: 100%;
	max-width: 300px;
}

.button {
	margin-top: 24px;
}

.errorMessage {
	margin: auto;
	font-size: var(--font-size-sm);
	color: var(--color-text-danger);
}
