.link {
	display: flex;
	align-items: center;
	gap: 0.1em;
	color: var(--secondary-color);
	line-height: 1;
	cursor: pointer;

	&:hover {
		color: var(--primary-color);
	}
}

.icon {
	width: 1.3em;
	height: 1.3em;
	fill: currentColor;
}
