.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.wrapper {
	max-width: var(--app-max-width);
	margin: 0 auto;
	padding: 0 10px;
	background-color: var(--color-bg-header);
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	height: var(--header-height);

	.filterBar {
		width: 140px;
		height: 34px;
		line-height: 2;
		border: 1px solid var(--color-border-footer);

		&:focus-visible {
			border-color: var(--color-text-hover);
		}
	}
}

.logo {
	position: relative;
	height: 20px;
	margin-right: auto;
	overflow: hidden;
}

.searchBar {
	width: 300px;
}

.btnGroup {
	display: flex;
	gap: 20px
}
