.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.wrapper {
	max-width: var(--app-max-width);
	margin: 0 auto;
	padding: 0 10px;
	background-color: var(--color-bg-header);
}

.content {
	display: flex;
	align-items: center;
	gap: 30px;
	height: var(--header-height);
}

.logo {
	position: relative;
	flex-shrink: 0;
	height: 20px;
	overflow: hidden;
}

.repoLink {
	margin-right: auto;
}

.searchBar {
	flex-basis: 650px;
	min-width: 350px;
}

.btnGroup {
	display: flex;
	gap: 20px
}
