.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.wrapper {
	max-width: var(--app-max-width);
	margin: 0 auto;
	padding: 0 var(--app-padding-x);
	background-color: var(--color-bg-header);
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	height: var(--header-height);

	.filterBar {
		width: 140px;
		height: 34px;
		line-height: 2;
		border: 1px solid var(--color-border-footer);

		&:focus-visible {
			border-color: var(--color-text-hover);
		}
	}
}

.logo {
	position: relative;
	height: 20px;
	margin-right: auto;
	overflow: hidden;

	&::after {
		content: "";
		position: absolute;
		inset: -50%;
		background: linear-gradient(
				to bottom,
				rgba(229, 172, 142, 0),
				rgba(255, 255, 255, 0.5) 50%,
				rgba(229, 172, 142, 0)
		);
		transform: rotateZ(60deg) translate(-5em, 7.5em);
	}
	:is(&:hover, &:focus)::after {
		animation: sheen 1s forwards;
	}
}

.searchBar {
	width: 300px;
}

.btnGroup {
	display: flex;
	gap: 20px
}

@keyframes sheen {
	100% {
		transform: rotateZ(60deg) translate(1em, -9em);
	}
}
