.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.wrapper {
	max-width: var(--app-max-width);
	margin: 0 auto;
	padding: 0 var(--app-padding-x);
	background-color: var(--color-bg-header);
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--header-height);
}

.logo {
	height: 20px;
	margin-right: auto;
}

.navList {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	list-style: none;
}
