.theme-dark {
	--color-text-base: #D8D8D8;
	--color-text-hover: #00A0B6;
	--color-text-danger: #EF5350;
	--color-bg-page: #232529;
	--color-bg-app: #383838;
	--color-bg-header: #303133;
	--color-bg-footer: #363636;
	--color-btn-bg: #404040;
	--color-btn-bg-hover: #4A4A4A;
	--color-btn-bg-active: #545454;
	--color-select-bg: #404040;
	--color-select-bg-selected: #51525E;
	--color-border-app: #4A4A4A;
	--color-border: #5C5C5C;
	--color-border-footer: #555;
}
