.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: var(--font-size-sm);
}

.wrapper {
	max-width: var(--app-max-width);
	margin: 0 auto;
	padding: 0 11px;
	border-top: 1px solid var(--color-border-base);
	background-color: var(--color-bg-footer);
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--footer-height);
}

.clockWrapper {
	position: absolute;
	right: 0;
}
