.task-item {
  color: #778899;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;
  margin-top: 8px;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.2s;
}

.task-item.selected {
  box-shadow: -6px 0 0  #778899;
  transform: translateX(6px);
}

.task-item__content {
  overflow-wrap: anywhere;
  overflow: hidden;
  align-self: start;
}

.task-item__content span {
  font-size: 12px;
  color: #bdb76b;
  display: inline-block;
  margin-right: 5px;
}

.task-item__btn {
  flex: 0 0 40px;
  height: 30px;
}

.task-item button {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  cursor: pointer;
  border: none;
  background-color: #fff;
  background-image: url('../../images/delete.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.task-item button:hover {
  width: 100%;
  height: 100%;
  opacity: 1;
  cursor: pointer;
  border: none;
}