.task-form {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.4s;
}

.task-form.collapse {
  transform: translateY(100%);
}

.task-form__container {
  max-width: 1130px;
  height: 100%;
  margin: 0 auto;
  background-color: #efefef;
}

.task-form__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px 10px 10px 10px;
  border-top: 1px solid #ced4da;
}

.task-form__body {
  align-self: stretch;
}

.task-form__body label {
  color: #65696d;
  display: block;
  margin-bottom: 3px;
  margin-left: 3px;
}

.task-form__input {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.task-form__input:focus {
  background-color: rgba(255, 255, 255, 1);
}

.task-form__textarea {
  height: 160px;
  margin-bottom: 10px;
  resize: none;
  background-color: rgba(255, 255, 255, 0.4);
}

.task-form__textarea:focus {
  background-color: rgba(255, 255, 255, 1);
}

.task-form__btn_collapse {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -40px;
  right: 45px;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 1px #ced4da;
  background-color: #efefef;
  transition: background-color 0.2s;
}

.task-form__btn_collapse span {
  display: inline-block;
  width: 20px;
  height: 6px;
  border-radius: 2px;
  background-color: #778899;
}

.task-form__btn_collapse:hover {
  box-shadow: 0 0 0 1px #A1AEBA;
}

.task-form__btn_collapse:active {
  box-shadow: inset 0 0 0 1px #A1AEBA;
}

.task-form__btn_collapse.warning {
  background-color: #FF7F50;
}

.task-form__btn_close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -40px;
  right: 10px;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 1px #ced4da;
  background-color: #efefef;
  transition: background-color 0.2s;
}

.task-form__btn_close span:first-child {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 6px;
  border-radius: 2px;
  background-color: #778899;
  transform: rotate(-45deg);
}

.task-form__btn_close span:last-child {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 6px;
  border-radius: 2px;
  background-color: #778899;
  transform: rotate(45deg);
}

.task-form__btn_close:hover {
  box-shadow: 0 0 0 1px #A1AEBA;
}

.task-form__btn_close:active {
  box-shadow: inset 0 0 0 1px #A1AEBA;
}

.task-form__btn_close.warning {
  background-color: #FF7F50;
}

.task-form__btn_send {
  color: #778899;
  align-self: flex-end;
  width: 100px;
  height: 40px;
  padding: 5px;
  background-color: #efefef;
  box-shadow: 0 0 0 1px #ced4da;
}

.task-form__btn_send:hover {
  box-shadow: 0 0 0 1px #A1AEBA;
}

.task-form__btn_send:active {
  box-shadow: inset 0 0 0 1px #A1AEBA;
}

