:root {
	/* layout */
	--header-height: 46px;
	--footer-height: 32px;
	--app-max-width: 1200px;
	--sidebar-width: 250px;

	/* font  */
	--font-family-base: "Roboto", sans-serif;
	--font-size-base: 16px;
	--font-size-xs: 12px;
	--font-size-sm: 14px;
	--font-size-lg: 20px;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;

	/* colors  */
	--color-text-base: #3E5A74;
	--color-text-hover: #00A0B6;
	--color-text-success: #4CAF50;
	--color-text-danger: #EF5350;
	--color-bg-page: #F3F3F3;
	--color-bg-app: #FFF;
	--color-bg-header: #E2F3FF;
	--color-bg-footer: #F7F9FA;
	--color-bg-item-hover: #ECF8FF;
	--color-item-todo: #FBC38F;
	--color-item-in-progress: #F7A48A;
	--color-item-done: #C8E090;
	--color-btn-bg: #E5EAEC;
	--color-btn-bg-hover: #DBE2E5;
	--color-btn-bg-active: #D0D6D9;
	--color-select-bg: #FFF;
	--color-border-app: #EBEBEB;
	--color-border: #C5CCD0;
	--color-border-footer: #D9DEE4;

	--scrollbar-thumb-color: #CDCDCD;
	--scrollbar-track-color: #F0F0F0;
}
