textarea {
  font-size: 15px;
  font-weight: 700;
  color: #778899;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  border: 1px solid #ced4da;
  border-radius: 3px;
  appearance: none;
}
