.theme-dark {
	/* typography */
	--color-text-base: #D8D8D8;

	/* background */
	--color-bg-page: #232529;
	--color-bg-app: #383838;
	--color-bg-header: #3F3F3F;
	--color-bg-footer: #363636;

	/* border */
	--color-border-app: #4A4A4A;
	--color-border-base: #555;

	/* link */
	--color-link: #D8D8D8;

	/* button */
	--color-btn-bg: #404040;
	--color-btn-hover: #4A4A4A;
	--color-btn-active: #545454;
	--color-btn-border: #5C5C5C;
	--color-btn-text: #D8D8D8;

	/* input */
	--color-input-bg: #41414;
	--color-input-border: #5C5C5C;
	--color-input-focus-shadow: #77777733;

	/* select */
	--color-select-bg: #404040;
	--color-selected-option-bg: #51525E;
	--color-select-hover: #00A0B6;
	--color-select-border: #5C5C5C;
	--color-select-text: #D8D8D8;
}
