.sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: var(--sidebar-width);
	margin: 10px 0;
	padding: 0 10px;
	border-right: 1px solid var(--color-border-app);
	overflow: hidden;
	white-space: nowrap;
	transition: width 0.3s;

	&.collapsed {
		width: 40px;

		.chevronIcon {
			transform: none;
		}
		.asideContent {
			display: none;
		}
	}
}

.chevronIcon {
	position: absolute;
	top: 2px;
	right: 8px;
	transform: rotate(180deg);
}
