.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.wrapper {
	max-width: var(--app-max-width);
	margin: 0 auto;
	padding: 0 11px;
	background-color: var(--color-bg-header);
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	height: var(--header-height);
}
