.title {
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-regular);
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	width: 100%;
	max-width: 300px;
}

.buttonWrapper {
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.errorMessage {
	margin: auto;
	font-size: var(--font-size-sm);
	color: var(--color-required);
}
