.wrapper {
	position: fixed;
	inset: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-normal);
	background-color: var(--color-bg-page);
}

.content {
	display: flex;
	justify-content: center;
	width: var(--app-max-width);
	height: 100%;
	padding-top: 24vh;
	background-color: var(--color-bg-app);
	box-shadow: -1px 0 0 var(--color-border-app), 1px 0 0 var(--color-border-app);

	h1 {
		font-size: var(--font-size-base);
		font-weight: var(--font-weight-normal);
	}
}
