.guestWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	height: 100%;
	padding: var(--app-padding-x);
	padding-top: 19vh;
	overflow: auto;

	> :last-child {
		margin-top: 24px;
	}
}

.title {
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-normal);
}
