.main {
	min-height: 100vh;
	padding: var(--header-height) var(--app-padding-x) var(--footer-height);
}

.formWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 40px;
	margin-top: 10%;
}
