* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

*:focus,
*:active {
	outline: none;
}

html,
body {
	width: 100%;
	height: 100%;
}

input,
textarea,
button {
	font-family:inherit;
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:inherit;
	font-weight: 400;
}




