.button {
	display: flex;
	align-items: center;
	border: none;
	color: var(--secondary-color);
	background: transparent;
	cursor: pointer;

	&:hover {
		color: var(--primary-color);
	}
}

.icon {
	width: 24px;
	height: 24px;
	fill: currentColor;
}
