.link {
	display: flex;
	align-items: center;
	gap: 0.1em;
	color: var(--color-link);
	line-height: 1;
	cursor: pointer;

	&:hover {
		color: var(--color-link-hover);
	}
}

.icon {
	width: 0.9em;
	height: 0.9em;
	fill: currentColor;
}
