.divider {
	background-color: var(--color-text-base);
	opacity: 0.2;

	&.horizontal {
		width: 100%;
		height: var(--size);
	}
	&.vertical {
		height: 100%;
		width: var(--size);
	}
	&.small {
		--size: 1px;
	}
	&.middle {
		--size: 2px;
	}
}
